@import "../../variables";

%space-container {
  background-color: $borderColor;
  display: grid;
  gap: $innerGap;
  overflow: hidden;
}

%space-container-vertical {
  @extend %space-container;
  grid-template-rows: repeat(9, 1fr);
}

%space-container-horizontal {
  @extend %space-container;
  grid-template-columns: repeat(9, 1fr);
}

.space-container-left-vertical {
  @extend %space-container-vertical;
  grid-area: 3 / 1 / 12 / 3;

  .space {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }

  .space p {
    writing-mode: vertical-lr;
    font-size: 0.5rem;
  }

  .color-stripe {
    height: 100%;
    width: 1rem;
  }
}

.space-container-right-vertical {
  @extend %space-container-vertical;
  grid-area: 3 / 12 / 12 / 14;

  .space {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .space p {
    writing-mode: vertical-rl;
    font-size: 0.5rem;
    transform: rotate(180deg);
  }

  .color-stripe {
    height: 100%;
    width: 1rem;
  }
}

.space-container-left-horizontal {
  @extend %space-container-horizontal;
  grid-area: 1 / 3 / 3 / 12;
  rotate: 180deg;

  .color-stripe {
    height: 1rem;
    width: 100%;
  }
}

.space-container-right-horizontal {
  @extend %space-container-horizontal;
  grid-area: 12 / 3 / 14 / 12;

    .color-stripe {
        height: 1rem;
        width: 100%;
    }
}