$borderColor: black;

$spaceBackgroundColor: #dcfadc;
$spaceHoverColor: #a8d8a8;
$spaceTextColor: black;

$standardGap: 2px;
$innerGap: 1px;

$standardRadius: 5px;

$standardPadding: 1rem;

$standardSansFont: 'Libre Franklin', sans-serif;

$iconSize: 2rem;
$spaceFontSize: 0.4rem;

$smallShadow: 2px 2px 0.3rem 0.3rem rgba(0, 0, 0, 0.1);

@mixin centeredFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin blackBorder($width: 1px) {
    border: $width solid $borderColor;
    border-radius: $standardRadius;
}

@mixin fullSize {
    width: 100%;
    height: 100%;
}

@mixin standardTransition {
    transition: all 0.2s ease-in-out;
}

@mixin standardButton {
    padding: 1rem;
    border-radius: $standardRadius;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    @include standardTransition;
}

@mixin colorWhiteButton($color: red) {
    border: 3px solid $color;
    background-color: $color;
    &:hover {
        background-color: white;
        color: $color;
    }
}