@import '../../../variables';

.chance {
  height: 100%;
  width: 100%;
  @include centeredFlex;
}

.space-container-right-vertical .chance {
  transform: rotate(-90deg);
}

.chance-icon {
  font-size: $iconSize;
}