@import '../../../variables';

.railroad {
  @include fullSize;
  @include centeredFlex;
  flex-direction: column;
}

.railroad-name {
  font-size: $spaceFontSize;
}

.railroad-icon {
  font-size: $iconSize;
  line-height: $iconSize;
  flex: 1;
  @include centeredFlex;
}

.railroad-price {
    font-size: $spaceFontSize;
}

.space-container-left-horizontal,
.space-container-right-horizontal {
  .railroad, .railroad-name {
    flex-direction: column;
  }
  .railroad-price {
    margin-top: auto;
  }
}

.space-container-left-vertical,
.space-container-right-vertical {
   .railroad-name {
    display: flex;
    flex-direction: row;
  }
  .railroad-price {
    margin-top: auto;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
}

.space-container-left-vertical {
  .railroad-price, .railroad {
    flex-direction: row-reverse;
  }

 .railroad-icon {
    transform: rotate(90deg);
  }
}

.space-container-right-vertical {
  .railroad {
    flex-direction: row;
  }
  .railroad-icon {
    transform: rotate(-90deg);
  }
}