@import "src/variables.scss";

.board-square {
  grid-area: 3 / 3 / 12 / 12;
  width: 100%;
  height: 100%;
  background-color: $spaceBackgroundColor;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.community-chest-stripe {
  position: absolute;
  left: 20%;
  top: 20%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
}

.chance-stripe {
  position: absolute;
  bottom: 15%;
  right: 5%;
  transform: translate(-50%, -50%) rotate(135deg);
  transform-origin: bottom;
}