@import "src/variables.scss";

.corner-space {
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;

  color: black;
  font-size: 2rem;
  background-color: $spaceBackgroundColor;
  &:hover {
    background-color: $spaceHoverColor;
    cursor: pointer;
  }
}

.corner-space-main {
  grid-area: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pawn-container {
  pointer-events: none;
  grid-area:  1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  z-index: 5;

  .pawn-grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 0.2rem;
  }

  .pawn-grid * {
    background-color: $spaceBackgroundColor;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 0.8rem;
    padding: 0.2rem;
  }
}

.corner-space-icon {
  line-height: 2rem;
}

.corner-space-name {
  font-size: 1rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.corner-space-1 {
  grid-area: 1 / 1 / 3 / 3;
}

.corner-space-2 {
  grid-area: 1 / 12 / 3 / 14;
}

.corner-space-3 {
  grid-area: 12 / 1 / 14 / 3;
}

.corner-space-4 {
  grid-area: 12 / 12 / 14 / 14;
}