@import '../../../variables';

.community-chest {
  height: 100%;
  width: 100%;
  @include centeredFlex;
}

.space-container-right-vertical .community-chest {
  transform: rotate(-90deg);
}

.space-container-left-vertical .community-chest {
  transform: rotate(90deg);
}

.community-chest-icon {
  font-size: $iconSize;
}