@import '../../../variables';

.property {
  @include fullSize;
  @include centeredFlex;
}


.property-name {
  font-size: $spaceFontSize;
}

.property-price {
  font-size: $spaceFontSize;
}

.space-container-left-horizontal,
.space-container-right-horizontal {
  .property-name {
    display: grid;
    grid-template: auto / 1fr;
  }
  .property-price {
    margin-top: auto;
  }
}

.space-container-left-vertical,
.space-container-right-vertical {
  .property-name {
    display: flex;
  }
  .property-price {
    margin-top: auto;
    flex: 1;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
}

.space-container-left-vertical {
    .property-price, .property-name {
        flex-direction: row-reverse;
    }
}