@import "src/variables.scss";

.board {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
  height: 80vh;
  background-color: black;
  border: $borderColor solid 2px;
  border-radius: $standardRadius;
  gap: 1px;
  aspect-ratio: 1 / 1;
}