@import "../../../variables";

.tax-icon {
  padding: 0.3rem;
  font-size: $iconSize;
  line-height: $iconSize;
}

.tax-name {
  font-size: $spaceFontSize;
}

.space-container-right-vertical .tax {
  display: flex;
  .tax-icon {
    transform: rotate(-90deg);
  }
  .tax-name {
    display: flex;
  }
}