@import "../variables";

.player-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.player-icon {
  height: 3.5rem;
  width: 3.5rem;
  font-size: $iconSize;
  z-index: 2;
  background-color: white;
  color: white;
  border: 3px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-main-div {
   border: 3px solid black;
   margin-left: -1.5rem;
   padding: 0 1.5rem;
   border-radius: $standardRadius;
   line-height: 1.5rem;
  p {
    margin: 0;
  }
 }