@import './src/variables';

.auction-modal {
    text-align: center;
    line-height: 1rem;
    p {
        margin: 0.5rem;
    }
    button {
        @include standardButton;
        @include colorWhiteButton();
        @include centeredFlex;
    }

    .auction-info-div {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
    }

    .bidding-div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .auction-price-div, .highest-bidder-div {
        :last-child {
            font-weight: bold;
            font-size: 3rem;
            line-height: 3rem;
        }
    }

    .auction-modal-button-container {
        display: grid;
        grid-template: 1fr / repeat(5, 1fr);
        grid-gap: 1rem;
    }

    .auction-finished-div {
        @include centeredFlex;
        flex-direction: column;
        gap: 1rem;
    }
}
