$borderColor: black;

$spaceBackgroundColor: #dcfadc;
$spaceHoverColor: #a8d8a8;
$spaceTextColor: black;

$standardGap: 2px;
$innerGap: 1px;

$standardRadius: 5px;

$standardPadding: 1rem;

$standardSansFont: 'Libre Franklin', sans-serif;

$iconSize: 2rem;
$spaceFontSize: 0.4rem;

$smallShadow: 2px 2px 0.3rem 0.3rem rgba(0, 0, 0, 0.1);