@import "../../variables";

.board-square {
  grid-area: 3 / 3 / 12 / 12;
  width: 100%;
  height: 100%;
  background-color: $spaceBackgroundColor;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.board-square-stripe {
  position: absolute;
  border: 5px solid white;
  color: white;
  font-size: $iconSize;
  line-height: $iconSize;
  border-radius: $standardRadius;
  padding: 1rem 2rem;
}

.community-chest-stripe {
  background-color: #3e74e8;
  left: 10%;
  top: 10%;
  transform: rotate(135deg);
}

.chance-stripe {
  background-color: #ff7300;
  bottom: 10%;
  right: 10%;
  transform: rotate(-45deg);
}